# Бинарные файлы Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Тесты и покрытие
coverage.out
*.coverprofile
profile.cov

# Зависимости
vendor/

# Рабочее пространство Go
go.work
go.work.sum

# Файлы окружения
.env

# Настройки VS Code и других IDE
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db
